body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url('./bg.png');
	background-color: rgba(255, 255, 255, 0.5);
	background-blend-mode: screen;
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: 100%; /* Resize the background image to cover the entire container */
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.header {
	font-family: Montserrat, arial;
	font-style: normal;
	background-color: #0054a3;
	text-align: left;
	color: white;
	overflow: hidden;
	padding: 5px 15px 15px 15px;
}

.header img {
	float: left;
	width: 60px;
	margin: 15px;
}

.header h1 {
	font-weight: bold;
	font-size: 25px;
	line-height: 30px;
	padding: 0px;
	margin: 10px 10px 0px 10px;
}

.header h3 {
	font-size: 20px;
}

.form-login-container {
	background-color: #fff;
	position: absolute;
	right: 10%;
	top: 30%;
	width: 350px;
	padding: 40px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input {
	box-sizing: border-box;
	width: 100%;
	margin: 15px auto;
	color: #0054a3;
	background-color: rgba(0, 0, 0, 0);
	border-color: #0054a3;
	border-radius: 5px;
	padding: 15px;
}

.login-btn {
	background-color: #0054a3;
	border-color: #0054a3;
	font-size: 15px;
	color: white;
	border-radius: 5px;
	width: 100%;
	margin: 10px auto;
	padding: 15px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a.password,
a.password:active {
	float: right;
	text-decoration: none;
	color: #0054a3;
}

/* Navigasi Halaman Admin */
nav {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: #006eb8;
}

.nav {
	background-color: #006eb8;
	text-decoration: none;
	color: white;
	padding: 10px;
	margin: 5px 20px;
}

/* Halaman Home Admin Style */
.center {
	text-align: center;
}

.container {
	margin: auto;
}

.column {
	float: left;
}

.cetak-laporan {
	text-align: center;
	margin: 100px auto;
	padding: 20px;
	width: 70%;
	color: #fff;
	background-color: rgba(0, 110, 184, 0.75);
	border-radius: 10px;
}

table.data {
	width: 100%;
	background-color: rgba(66, 166, 221, 0.25);
	border-collapse: collapse;
}

table.data th {
	color: #fff;
	background-color: #0054a3;
}

table.data tr:nth-child(even) {
	background-color: rgba(0, 110, 184, 0.25);
}

table.data td,
table.data th {
	padding: 5px 5px;
}

/* Halaman Pagu Anggaran Style */
.pagu {
	width: 40%;
	font-style: bold;
}

input.input-pagu {
	margin: 1px auto;
	padding: 5px;
	width: 100%;
}

/* Halaman Input Pengeluaran Style */
.cekrka {
	width: 25%;
	padding: 0px 30px;
}

.ubahrka {
	box-sizing: border-box;
	width: 100%;
	padding: 0px 30px;
}

/* Common Style */
.blue-btn {
	background-color: #0054a3;
	color: white;
	padding: 5px 15px;
	margin: 15px 5px;
	border-radius: 5px;
	border-color: #0054a3;
}

.btn-verify {
	background-color: #8dd2a5;
	margin: 3px;
	padding: 5px 15px;
	border-radius: 5px;
	border-color: #8dd2a5;
}

.btn-reject {
	background-color: #d28d8d;
	margin: 3px;
	padding: 5px 15px;
	border-radius: 5px;
	border-color: #d28d8d;
}

.verified {
	color: #8dd2a5;
}

.reject {
	color: #d28d8d;
}

select {
	box-sizing: border-box;
	padding: 5px 10px;
	margin: 5px auto;
}

label {
	display: block;
	margin: 5px;
}

table,
.w100 {
	width: 100%;
}

.w90 {
	width: 90%;
}

.w80 {
	width: 80%;
}

.w70 {
	width: 70%;
}

.w60 {
	width: 60%;
}

.w50 {
	width: 50%;
}

.w40 {
	width: 40%;
}

.w30 {
	width: 30%;
}
